/* Canvas styling */
canvas {
    display: block;
    margin: 0 auto;
    border: 5px solid black;
    top:+2px;
    bottom: +10px;
    left: -6px;
    right: -6px;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    font-family: "Single Day", cursive;
}

/* Style for the game controls */
#controls {
    text-align: center;
    margin-top: 20px;
}

#controls button {
    padding: 15px 15px 10px 15px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    font-family: "Single Day";
    color: #393c3e;
}

.hidden {
    display: none;
}

/* General container styles */
#screenContainer {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    font-family: "Single Day", cursive;
}

.single-day-regular {
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
}
  

/* Title Screen */
.titleScreen {
    background-color: #87CEEB;
}

.ellipse{
    margin-left: 165px;
    margin-top: -385px;
    width: 450px; 
    height: 140px; 
    background-color: #5b3d9c;
    border-radius: 45%;
}

/* Pause Screen */
#pauseScreen {
    position: absolute;
    top: 0;
    left: 50;
    width: 800px;
    height: 410px;
    background-color: #24272C;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure it's above the game canvas */
    color: white;
    font-size: 40px;
}

/* Died Screen */
#diedScreen {
    position: absolute;
    top: 0;
    left: 50;
    width: 800px;
    height: 410px;
    background-color: #41588B;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure it's above the game canvas */
    color: white;
    font-size: 40px;
    border: 5px solid black;
}

/* Died Well Screen */
#diedWellScreen {
    position: absolute;
    top: 0;
    left: 50;
    width: 800px;
    height: 410px;
    background-color: #41588B;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure it's above the game canvas */
    color: white;
    font-size: 40px;
}

#leaderboard th, td{
    border-style: solid;
    padding: 10px;
    text-align: center;
}
#leaderboard h2{
    width: 400px;
}

#leaderboard {
    width: 20%;
    table-layout: fixed;
}
