/* Canvas styling */
canvas {
    display: block;
    margin: 0 auto;
    border: 5px solid black;
    top:+2px;
    bottom: +10px;
    left: -6px;
    right: -6px;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Style for the game controls */
#controls {
    text-align: center;
    margin-top: 20px;
}

#controls button, #restartButton, #restartButtonFromLeaderboard, #pauseButton, #resumeButton, #dailyLeaderboardButton, #weeklyLeaderboardButton, #allTimeLeaderboardButton, #submitInitialsButton {
    padding: 10px 20px 10px 20px;
    font-size: 22px;
    margin: 5px;
    cursor: pointer;
    font-family: "Single Day";
    color: white;
    text-align: center;
    background-color: #3369c6;
    border-radius: 10%;
    border: 2px solid #3369c6;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

#restartButton {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 42%;
}

#pauseButton {
    margin: 0;
    position: absolute;
    top: 3%;
    left: 48%;
}

#resumeButton {
    margin: 0;
    position: absolute;
    top: 3%;
    left: 40%;
}

.hidden {
    display: none;
}

/* General container styles */
#screenContainer {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    font-family: "Single Day", cursive;
}

.single-day-regular {
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
}
  

/* Screens */
.titleOverlay {
    background-color: black;
    color: white;
    background-image: url("-titleOverlay.png");
    background-size: cover;
}

.ellipse{
    margin-left: 175px;
    margin-top: -385px;
    width: 450px; 
    height: 140px; 
    background-color: #5b3d9c;
    border-radius: 45%;
}

.gameScreen {
    background-color: #87CEEB;
}

#pauseScreen {
    position: absolute;
    top: 10px;
    width: 800px;
    height: 400px;
    border: 2.5px solid black;
    background-image: url("-pause.jpg");
    background-size: cover;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure it's above the game canvas */
    color: white;
    text-shadow: -1px 1px 0 #000,
                         1px 1px 0 #000,
                         1px -1px 0 #000,
                         -1px -1px 0 #000;
    font-size: 40px;
    text-align: center;
}

#diedScreen {
    position: absolute;
    top: 10px;
    width: 800px;
    height: 400px;
    border: 2.5px solid black;
    background-image: url("-died.jpg");
    background-size: cover;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure it's above the game canvas */
    color: white;
    text-shadow: -1px 1px 0 #000,
                         1px 1px 0 #000,
                         1px -1px 0 #000,
                         -1px -1px 0 #000;
    font-size: 40px;
    text-align: center;
}

#diedWellScreen {
    position: absolute;
    top: 10px;
    width: 800px;
    height: 400px;
    background-image: url("-diedWell.jpg");
    background-size: cover;
    border: 2.5px solid black;
    display: none; /* Initially hidden */
    z-index: 10; /* Ensure it's above the game canvas */
    color: white;
    text-shadow: -1px 1px 0 #000,
                         1px 1px 0 #000,
                         1px -1px 0 #000,
                         -1px -1px 0 #000;
    font-size: 40px;
    text-align: center;
}

#diedWellScreen #firstLine {
    margin-top: 10%;
}

#diedWellScreen #secondLine {
    margin-top: 3%;
}

#diedWellScreen #thirdLine {
    margin-top: 3%;
}

#diedWellScreen #initialsInput {
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    width: 10%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

/* Leaderboard */
#leaderboardScreen {
    position: absolute;
    top: 10px;
    width: 800px;
    height: 400px;
    background-color: #5b3d9c;
    background-size: cover;
    border: 2.5px solid black;
    display: none; /* Initially hidden */
    z-index: 10; /* Ensure it's above the game canvas */
    color: white;
    text-shadow: -1px 1px 0 #000,
                         1px 1px 0 #000,
                         1px -1px 0 #000,
                         -1px -1px 0 #000;
    font-size: 17px;
}

#leaderboard th, td{
    padding: 3px;
    text-align: center;
}
#leaderboard h2{
    width: 400px;
    text-align: center;
    margin: 0, 0, 0, 0;
    padding: 0, 0, 0, 0;
}
#leaderboard {
    width: 50%;
    table-layout: fixed;
}

#dailyLeaderboardButton {
    margin: 0;
    position: absolute;
    top: 15%;
    left: 75%;
    -ms-transform: translate(+50%, +50%);
    transform: translate(-50%, -50%);
}

#weeklyLeaderboardButton {
    margin: 0;
    position: absolute;
    top: 38%;
    left: 75%;
    -ms-transform: translate(+50%, +50%);
    transform: translate(-50%, -50%);
}

#allTimeLeaderboardButton {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 75%;
    -ms-transform: translate(+50%, +50%);
    transform: translate(-50%, -50%);
}

#restartButtonFromLeaderboard {
    margin: 0;
    position: absolute;
    top: 83%;
    left: 75%;
    -ms-transform: translate(+50%, +50%);
    transform: translate(-50%, -50%);
} 